
body {
	background: url("../images/background.png");
	color:#777777;
	font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;

}


.col-md-7,
.blog-sidebar,
.col-md-3 {
	background-color: #ffffff;
	border: 1px solid #ddd;
}




.navbar-brand {
	background-color:#4aaaa5;
	border-color: #cccccc;
	font-family:Georgia, Times, "Times New Roman", serif;
 	color: #ffffff;

}


ul {
	color: #ffffff;
	font-family:Georgia, Times, "Times New Roman", serif;
}


li a {
	border-right: 1px solid #efefef;
	padding-right: 15px;
}

h2,
h4 {
	color:#4aaaa5;
	font-family:Georgia, Times, "Times New Roman", serif;
}

.caption {
	background-color: #4aaaa5;
	color:#ffffff;
}

.copyright {
	background-color: #666666;
	border-style: solid;
	border-top-color: #4aaaa5;
	border-width:5px;
}